.container-fluid{
    padding:7% 15%;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.title-leftview{
    text-align:left;
}
.heading{
        font-family: "Montserrat-Black";
        font-size: 3.5rem;
        line-height: 1.5;   
}
.download-button{
    margin: 5% 3% 5% 0;
}
.navbar{
    padding: 0 0 4.5rem;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
.white-section{
    background-color:#fff;
}
.feature-box{
    text-align:center;
    padding:4.5%;
}
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
  }
  
.icon:hover {
    color: #ff4c68;
  }
#features{
    position:relative;
    z-index:1;
  }
#testimonials{
    background-color: #ef8172;
    text-align:center;
}
.testimonial-image{
    width: 10%;
  border-radius: 100%;
  margin:0 auto 0 auto;
  text-align:center;
}
.testimonial-text{
    font-size: 3rem;
  line-height: 1.5;
}
.logos-section{
    background-color: #ef8172;
    text-align:center;  
}
.price-section{
    text-align:center;
    margin:7% 6%;
}
.pricing-column{
    padding:2% 3%;
}
h2,h3{
    font-family: "Montserrat-Bold";
}
h3{
font-size:1.5rem;
}
p{
    color:#8f8f8f;
}
.download-section{
    background-color: #ff4c68;
    text-align:center;
}
.big-heading{
    font-family: "Montserrat-Black";
    font-size: 2.5rem;
    color:#fff;
}
#footer{
    text-align:center;
}
.social-icon{
    margin:0 5px;
}
@media (max-width: 1028px) {

    #title,.title-leftview {
      text-align: center;
    }
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }